.loginContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginForm {
  width: 20rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.35);
}

.field {
  display: flex;
}

.field p {
  text-align: right;
  width: 5rem;
  margin: 0 1rem 0 0;
  margin-bottom: 1rem;
}

.input {
  width: 10rem;
  height: 1.3rem;
}

.loginButton {
  width: 17rem;
  text-align: right;
  color: blue;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.button {
  width: 16.5rem;
  height: 1.7rem;
}
