.todoContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todoForm {
  width: 20rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.35);
}

.logoutButton {
  width: 6rem;
  margin-bottom: 1rem;
}

.todoList {
  flex: 1;
  overflow: auto;
}

.createTodoForm {
  display: flex;
}

.createTodoForm > input {
  flex: 1;
}

.todoItemContainer {
  width: 100%;
  display: flex;
  align-items: center;
  overflow: auto;
  margin-bottom: 1rem;
}

.todoCheckbox {
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  cursor: pointer;
}

.description {
  flex: 1;
  margin: 0.1rem 1rem 0 1rem;
  cursor: pointer;
}

.done {
  color: gray;
  text-decoration: line-through;
}

.editButton {
  margin-right: 1rem;
  cursor: pointer;
}

.deleteButton {
  cursor: pointer;
}
