html,
body {
  margin: 0;
  box-sizing: border-box;
  background: url("https://source.unsplash.com/1600x900/?book");
  background-size: cover;
  background-repeat: no-repeat;
}

#root {
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}
